    <amp-user-notification id="my-notification"
  layout="nodisplay">
        <div role="button" on="tap:my-notification.dismiss" tabindex="0" class="ampstart-navbar-trigger items-start schliessen">✕</div>        
        <div>Diese Website verwendet Cookies, um die Nutzerfreundlichkeit zu verbessern. Durch die weitere Nutzung der Website stimmen Sie dem zu. Weitere Infos zu Cookies und deren Deaktivierung finden Sie <a href="/datenschutz/">hier</a>.</div>
        <div class="ta-c"><a href="/impressum">Impressum</a> | <a href="/datenschutz/">Datenschutz</a> | <a href="/disclaimer/">Disclaimer</a></div>
      </amp-user-notification>